/*Regole di reset*/

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*Regole di layout*/

.container {
    margin: 0 auto;
    height: 100vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-content {
    padding: 50px;
    flex-grow: 1; 
}

.row {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% /7);
}

.aside {
    flex-shrink: 0;
}

/*DEBUG*/

.debug .main-content {
    background-color: antiquewhite;
    min-height: 10px;
}

.debug .row {
    background-color: aquamarine;
    min-height: 10px;
}

.debug .col {
    background-color: brown;
    border: 2px black solid ; 
    min-height: 10px;
}

.debug .toolbar {
    min-height: 50px; 
    background-color: blue;
}